.center-elements {
  position: relative;
  bottom: 0;
  width: 100%;
}

.center-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 2px solid black;
  margin: 10px 30px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.center-details .indian-map {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.center-details .indian-map img {
  transition: transform 0.2s ease;
  width: 100%;
  height: 100%;
}

.drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}
.zoom-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10px;
  left: 250px;
  z-index: 10;
}

.zoom-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.zoom-controls button img {
  width: 30px;
  height: 30px;
  display: block;
}
.invert {
  filter: invert(100%);
}
