.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.top-button button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease, transform 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.top-button button:hover {
  background-color: rgb(27, 25, 25);
  transform: scale(1.1);
}
.center-change-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.newclass {
  display: none;
}
.center-change-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.center-change-button button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.center-change-button button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.save-button button {
  background-color: #43c143;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px;
  width: 70%;
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease, transform 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.save-button button:hover {
  background-color: #06d406;
  transform: scale(1.05);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.logout-button button {
  width: 80%;
  font-size: 35px;
  font-weight: 600;
  transition: all 0.3s ease, transform 0.5s ease;
  border: 1.5px solid black;
  cursor: pointer;
}
.logout-button button:hover {
  background-color: #c1baba;
  transform: scale(1.05);
}